.about-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #11452f; /* Change heading color to a dark blueish color */
  }
  
  h3 {
    color: #6D9886; /* Change subheading color to a lighter blue color */
    margin-top: 16px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  p {
    line-height: 1.6;
    color: #666;
  }
  .login-message {
    text-align: center; 
    margin-top: 20px;
    color: #e74c3c; 
  }