/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
}

* {
  box-sizing: border-box;
}



.mat-sidenav-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mat-sidenav-content {
  flex: 1;
}

